
.vs/AFK-Script-Interpreter/v15/Server/sqlite3/db.lock
.vs/AFK-Script-Interpreter/v15/Server/sqlite3/storage.ide
.vs/AFK-Script-Interpreter/v15/Server/sqlite3/storage.ide-shm
.vs/AFK-Script-Interpreter/v15/Server/sqlite3/storage.ide-wal
.vs/AFK-Script-Interpreter/v15/.suo
.vs/AFK-Script-Interpreter/v15/.suo
AFK-Script-Interpreter/bin/Debug/AFK-Script-Interpreter.exe
AFK-Script-Interpreter/bin/Debug/AFK-Script-Interpreter.pdb
AFK-Script-Interpreter/bin/Debug/netstandard.dll
AFK-Script-Interpreter/bin/Debug/System.Data.Common.dll
AFK-Script-Interpreter/bin/Debug/System.Data.Common.dll
AFK-Script-Interpreter/bin/Debug/System.Diagnostics.StackTrace.dll
AFK-Script-Interpreter/bin/Debug/System.Diagnostics.Tracing.dll
AFK-Script-Interpreter/bin/Debug/System.Globalization.Extensions.dll
AFK-Script-Interpreter/bin/Debug/System.IO.Compression.dll
AFK-Script-Interpreter/bin/Debug/System.Net.Http.dll
AFK-Script-Interpreter/bin/Debug/System.Net.Sockets.dll
AFK-Script-Interpreter/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
AFK-Script-Interpreter/bin/Debug/System.Runtime.Serialization.Primitives.dll
AFK-Script-Interpreter/bin/Debug/System.Runtime.Serialization.Xml.dll
AFK-Script-Interpreter/bin/Debug/System.Security.Cryptography.Algorithms.dll
AFK-Script-Interpreter/bin/Debug/System.Security.SecureString.dll
AFK-Script-Interpreter/bin/Debug/System.Threading.Overlapped.dll
AFK-Script-Interpreter/bin/Debug/System.ValueTuple.dll
AFK-Script-Interpreter/bin/Debug/System.Xml.XPath.XDocument.dll
AFK-Script-Interpreter/obj/Debug/AFK-Script-Interpreter.csproj.CoreCompileInputs.cache
AFK-Script-Interpreter/obj/Debug/AFK-Script-Interpreter.csproj.FileListAbsolute.txt
AFK-Script-Interpreter/obj/Debug/AFK-Script-Interpreter.csprojResolveAssemblyReference.cache
AFK-Script-Interpreter/obj/Debug/AFK-Script-Interpreter.exe
AFK-Script-Interpreter/obj/Debug/AFK-Script-Interpreter.pdb
*.dll
*.cache
*.pdb
*.exe
.vs/AFK-Script-Interpreter/v15/.suo
.vs/AFK-Script-Interpreter/v15/.suo
AFK-Script-Interpreter/obj/Debug/AFK-Script-Interpreter.csproj.CoreCompileInputs.cache
AFK-Script-Interpreter/obj/Debug/AFK-Script-Interpreter.csproj.FileListAbsolute.txt
AFK-Script-Interpreter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
